<%= link_to 'About', about_path(current_user) %>

<h1>produswap.org</h1>

<%= link_to 'Login', login_path %>
<%= link_to 'Sign up', new_user_path %>

<!-- <%= form_for :zip do |f| %>
<div>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.submit %>
</div>
<% end %> -->
