<%= link_to 'Login', login_path %>
<%= link_to 'Sign up', new_user_path %>

<h1>Welcome to produswap.org</h1>

<!-- <%= form_for :zip do |f| %>
<div>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.submit %>
</div>
<% end %> -->
