<div id="aboutTitle">
<h1>produswap.org</h1>
</div>

<div id="loginSignUpLanding">
<div id="loginLanding">
<%= link_to 'Login', login_path %>
</div>
<div id="signUpLanding">
<%= link_to 'Sign up', new_user_path %>
</div>
</div>
<!-- <%= form_for :zip do |f| %>
<div>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.submit %>
</div>
<% end %> -->
