<div id="loginLogin">
Log In
</div>

<%= form_for :login do |f| %>
  <div class="loginPage">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="loginPage">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="loginPage">
    <%= f.submit 'Log In', class: "btn btn-primary" %>
  </div>
<% end %>

<div id="loginNav">
<div id="SignUpLogInPage">
<%= link_to 'Sign Up', new_user_path %>
</div>
<div id="back">
<%= link_to 'Back', root_path  %>
</div>
</div>
