<%= form_for @user do |f| %>
  <div class="swapSum">
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name%>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code%>
    <br>
    <div id="rules">
      <h2>User Agreement</h2>
      <br>
      <ul>
        <li>I will not swap stolen produce.</li>
        <li>I will not use harmful chemicals on my produce.</li>
        <li>I will only swap high quality produce.</li>
        <li>I will be brief and kind in messages, replies, and during swaps.</li>
        <li>I will schedule swaps at open and well lit spaces.</li>
        <li>I will only swap produce for produce and not accept any other type of payment.</li>
        <li>I will not use this site for anything other than what it's intended for.</li>
      </ul>

    </div>
    <%= f.label :accept %>
    <%= f.check_box :rules, required: true %>
    <br>
    <%= f.submit 'Sign Up', class: "btn btn-primary" %>
  </div>
<% end %>
