
  <h1><%= @user.first_name %>'s Profile</h1>
  <div>
  Name: <%= @user.first_name %> <%= @user.last_name %>
  </div>
  <div>
  Email: <%= @user.email %>
  </div>
  <div>
  Zip Code: <%= @user.zip_code %>
  </div>

  <%#= link_to 'Back to the list!', users_path %>
  <br>
  <%= link_to 'Edit', edit_user_path(current_user) %>
  <%= link_to 'Delete your account', @user, method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Back to Swaps', post_page_path(current_user) %>
