<%= form_for ([current_user, @post]) do |f| %>
  <div class="swapSum">
    <%= f.label :summary %>
    <%= f.text_field :summary, required: true, placeholder: "summary"%>
    <br>
    <%= f.label :availability %>
    <%= f.text_field :content, required: true, placeholder: "availability" %>
    <br>
  <%= f.submit 'Edit', class: "btn btn-primary" %>
  </div>
<% end %>
