<%= form_for ([current_user, @post]) do |f| %>
  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary, required: true, placeholder: "summary"%>
  </div>
  <div>
    <%= f.label :availability %>
    <%= f.text_field :content, required: true, placeholder: "availability" %>
  </div>

  <%= f.submit %>

<% end %>
