<h1>Welcome to produswap.org</h1>

  <% @posts.each do |post| %>
      <div>
        <%= post.user.first_name %> <%= post.user.last_name %>
      <br>
      <%= post.summary %>
      <br>
      <%= post.created_at %>
      <br>
      <%= link_to "More Info", user_post_path(post.user, post) %>
    </div>
  <% end %>

  <%= link_to "New Post!", new_user_post_path %>
