<h1>Welcome to produswap.org</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div id="name">
        <%= post.user.first_name %> <%= post.user.last_name %>
      </div>
      <div id="summary">
      <%= post.summary %>
      </div>
      <div id="content">
      <%= post.content %>
      </div>
      <div id="time_date">
      <%= post.created_at %>
      </div>
    </li>
    <%= link_to "Edit Post", edit_user_post_path(current_user, post) %>
  <% end %>
</ul>

  <%= link_to "New Post!", new_user_post_path %>
