<h1>Welcome to produswap.org</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div id="name">
        <%= post.user.first_name %> <%= post.user.last_name %>
      </div>
      <div id="summary">
      <%= post.summary %>
      <div id="time_date">
      <%= post.created_at %>
      </div>
      <%= link_to "More Info", user_post_path(post.user, post) %>
    </li>

  <% end %>
</ul>

  <%= link_to "New Post!", new_user_post_path %>
