<div>
<%= @post.user.first_name %> <%= @post.user.last_name %>
</div>
<div>
<%= @post.summary %>
</div>
<div>
<%= @post.content %>
</div>
<div>
<%= @post.created_at %>
</div>

<%= form_for([@user, @post, @message]) do |f| %>
<div>
  <%= f.label :message %>
  <%= f.text_field :content %>
</div>
<div>
  <%= f.hidden_field :recipient, :value => @post.user.id %>
</div>

<%= f.submit %>
<% end %>

  <% @post.messages.each do |message| %>
    <% if message.user == current_user || message.recipient == current_user.id %>
      <div id="message_name">
        <%= message.user.first_name %> <%= message.user.last_name %>
      </div>
      <div id="content">
        <%= message.content %>
      </div>
      <div>
        <%= message.created_at %>
      </div>
      <%= form_for([@user, @post, @message]) do |f| %>
      <div>
        <%= f.label :reply %>
        <%= f.text_field :content %>
      </div>
      <div>
        <%= f.hidden_field :recipient, :value => message.user.id %>
      </div>

      <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>




<%= link_to "Edit Post", edit_user_post_path(current_user, @post) %>
<%= link_to "Back to Swaps", post_page_path(current_user) %>
