<!-- post info -->
<div class="swapSum">
Name: <%= @post.user.first_name %> <%= @post.user.last_name %>
<br>
Swap Info: <%= @post.summary %>
<br>
Availability: <%= @post.content %>
<br>
Post date/time: <%= @post.created_at %>
</div>

<br>
<div id="backEditPostShow">
<div id="editPostShow">
<% if (current_user.id == @user.id) %>
<%= link_to "Edit Swap", edit_user_post_path(current_user, @post) %>
<% end %>
</div>
<div id="backPostShow">
<%= link_to "Back", post_page_path(current_user) %>
</div>
</div>
<br>

<div class="swapSum">
<!-- #form to send message to post author -->
<%= form_for([@user, @post, @message]) do |f| %>
<%= f.text_field :content, required: true, placeholder: "message" %>
<%= f.hidden_field :recipient, :value => @post.user.id %>
<br>
<%= f.submit 'send', class: "btn btn-primary" %>
<% end %>
</div>

<br>
<!-- #displays message -->

  <% @post.messages.each do |message| %>
    <% if message.user == current_user || message.recipient == current_user.id %>
      <div class="swapSum">
      <br>
      <%= message.user.first_name %> <%= message.user.last_name %>
      <br>
      <%= message.content %>
      <br>
      <%= message.created_at %>
      <br>

    <!-- #reply form -->
      <% message.replies.each do |reply| %>
          <br>
          <%= reply.user.first_name %> <%= reply.user.last_name %>
          <br>
          <%= reply.content %>
          <br>
          <%= reply.created_at %>
          <br>
        <% end %>
        <%= form_for([@user, @post, message, @reply]) do |f| %>
          <br>
            <%= f.text_field :content, required: true, placeholder: "reply" %>
          <br>
            <%= f.hidden_field :recipient, :value => message.user.id %>
          <%= f.submit 'reply', class: "btn btn-primary" %>
          </div>
      <% end %>
    <% end %>
  <% end %>
