<div>
<%= link_to "New Post!", new_user_post_path(current_user) %>
<%= link_to 'My Profile', user_path(current_user) %>
Welcome <%= current_user.first_name %> <%= link_to 'Log Out', logout_path, method: :delete %>
<%= link_to 'About', about_path(current_user) %>
</div>
<h1>Welcome to produswap.org</h1>

<h3>Current Swaps in Ventura County:</h3>

  <% @posts.each do |post| %>
    <div>
    <br>
    Name: <%= post.user.first_name %> <%= post.user.last_name %>
    <br>
    Summary: <%= post.summary %>
    <br>
    Zip: <%= post.user.zip_code %>
    <br>
    Post date/time: <%= post.created_at %>
    <br>
    <%= link_to "More Info", user_post_path(post.user, post) %>
    </div>
  <% end %>
