
<h3>Current Swaps in Ventura County:</h3>

  <% @posts.each do |post| %>
    <div>
    <br>
    Name: <%= post.user.first_name %> <%= post.user.last_name %>
    <br>
    Summary: <%= post.summary %>
    <br>
    Zip: <%= post.user.zip_code %>
    <br>
    Post date/time: <%= post.created_at %>
    <br>
    <%= link_to "More Info", user_post_path(post.user, post) %>
    </div>
  <% end %>
