

<div id="newSwap">
 <%= link_to 'New Swap', new_user_post_path(current_user) %>
 </div>

<div id="swapsNear">
Swaps Near Me:
</div>

  <% @posts.each do |post| %>
    <div class="swapSum">
    <br>
    Name: <%= post.user.first_name %> <%= post.user.last_name %>
    <br>
    Summary: <%= post.summary %>
    <!-- <br>
    Zip: <%#= post.user.zip_code %> -->
    <br>
    Swap Date/Time: <%= post.created_at %>
    <br>
    <%= link_to "More Info", user_post_path(post.user, post) %>
    </div>
  <% end %>
