<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav id="nav">
      <div class ="navbar" id="about">
      <%= link_to 'About', about_path(current_user) %>
      </div>
       <% if current_user %>
        <div class ="navbar" id="swaps">
       <%= link_to 'Swaps', post_page_path(current_user) %>
       <% end %>
       </div>

       <% if current_user %>
        <div class ="navbar" id="welcome">
       Welcome <%= current_user.first_name %>
       <% end %>
       </div>

       <% if current_user %>
       <div class ="navbar" id="logout">
        <%= link_to 'Log Out', logout_path, method: :delete %>
        <% end %>
        </div>

        <% if current_user %>
          <div class ="navbar" id="myProfile">
        <%= link_to 'My Profile', user_path(current_user) %>
        <% end %>
      </div>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
